OPENAI_API_KEY=<openai_token>
OPENAI_BASE_URL=<openai_url>
OPENAI_MODEL=<model_name>

OPENAI_PROXY=<proxy_url_for_model>
PHOENIX_TELEMETRY=<send_telemetry_to_arize_phoenix>

TG_BOT_TOKEN=<tg_bot_token>
PROXY=<proxy_url_for_tg>